<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <label for="">id:</label>
        <input type="text" name="" v-model="id">
        <label for="">Name:</label>
        <input type="text" name="" v-model="name">
        <input type="button" value="添加" @click="add">
        <!-- v-for key属性只能使用number获取string -->
        <!-- 使用key时必须使用v-bind 绑定，指定key的值 -->
        <p v-for="item in list" v-bind:key="item.id">
            <input type="checkbox" name="" id="">
            {{ item.id }} ------ {{ item.name }}
        </p>
    </div>
    <script>
        var vm = new Vue({
           el: '#app',
           data: {
               id: '',
               name: '',
               list : [
                   { id: 1, name: '李斯'},
                   { id: 2, name: '嬴政'},
                   { id: 3, name: '赵高'},
                   { id: 4, name: '韩非'},
                   { id: 5, name: '荀子'},
                  
               ]
           },
           methods: {
               add(){
                   this.list.push({ id:this.id,name:this.name });
                   //this.list.unshift({ id:this.id,name:this.name});
               }
           }
        });
    </script>
</body>

</html>